<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Enter Time Entry</title>
  <link rel="stylesheet" type="text/css" href="../static/style.css" />
</head>
<body>

<div id="mySidenav" class="sidenav">
  <a href="index.html" id="index">Index</a>
  <a href="entry.html" id="enter">Enter</a>
  <a href="view.html" id="view">View</a>
  <a href="analyze.html" id="analyze">Analyze</a>
</div>

<div style="margin-left:80px;">
  <input type="button" class="button" value="Add Entry">
  <input type="button" class="button" value="Clock In">
</div>
</body>
</html>
